<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <title>Home page | Kamatha</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container">
            <header class="row">
                <div class="col s12">
                    <h1 class="flow-text center">Kamatha App</h1>
                    <p class="center">
                    "KAMATHA" - Expert Ideas Exchange and Community Platform project of SC555(Web Programming) under M.Sc. in Computer Science, Postgraduate Institute of Science, University of Peradeniya.</p>
                </div>
            </header>
        </article>
    </main>
</body>
</html>